body {

  .class1 {
    color: blue;
    background-color: red;
    color: green;
    background-color: white;
    gibberish: boo;
  }

  .class2 {
    border: 1px solid;
    move-to: footer;
  }

  a:link {
    color: green;
  }

  div:deferred { color: green; }
  div:pass { color: green; }
  div:match { color: green; }
  div:after { color: green; }
  div:before { color: green; }
  div:outside { color: green; }
  div:link { color: green; }
  div:footnote-call { color: green; }
  div:footnote-marker { color: green; }

}

.unused-class { display: none; }

p {
  > div.another-unused-class {
    display: none;
  }
}

.footer {
  content: pending(footer);
}

@page :left {
  color: red;
  @footnotes {
    color: red;
  }
}
